@import url('https://fonts.googleapis.com/css?family=Open+Sans|Press+Start+2P&display=swap');


body {
  margin: 0;
  background-color: #614cb6; 
}

.l--center {
  display: flex;
  height: 100vh;
  color: white;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 0 1rem;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 0.25rem;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875rem;
  margin-bottom: 0;
  text-align: center;
}

@media (min-width: 50rem) {  
  .l--center {
    padding: 0;
  }

  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.25rem;
  }
}